
@{
    ViewBag.Title = "AdminDashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend> Admin DashBoard </legend>

    @if (Session["UserName"] != null)
    {
        <text >Welcome @Session["UserName"].ToString() </text>
    }

    <input type="button" class="btn btn-primary" value="Add Data" onclick="window.location.href='@Url.Action("Product","Login" )';" />

    @using (Html.BeginForm("Logout", "Login", FormMethod.Post))
    {
        <a href="javascript:;" onclick="document.forms[0].submit();">Logout</a>
    }
</fieldset>

